
name: ServiceNow DevOps Change

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run Tests
        run: echo "Running tests..."

  ServiceNowDevOpsChange:
    needs: build
    runs-on: ubuntu-latest
    name: ServiceNow DevOps Change
    steps:
      - uses: actions/checkout@v4

      - name: ServiceNow Change
        id: create_change
        uses: ServiceNow/servicenow-devops-change@v6.1.0
        with:
          devops-integration-user-name: ${{ secrets.SN_DEVOPS_USER }}      
          devops-integration-user-password: ${{ secrets.SN_DEVOPS_PASSWORD }}
          instance-url: ${{ secrets.SN_INSTANCE_URL }}
          tool-id: ${{ secrets.SN_ORCHESTRATION_TOOL_ID }}
          context-github: ${{ toJSON(github) }}
          job-name: "ServiceNow DevOps Change"
          change-request: |
           {
              "setCloseCode": true,
              "autoCloseChange": true,
              "attributes": {
                "category": "DevOps",
                "short_description": "Automated Deployment",
                "description": "Create DevOps change from GitHub Actions.",
                "implementation_plan": "Automated deploy within approved window",
                "backout_plan": "Redeploy previous version",
                "test_plan": "Post-deploy smoke tests",
                "assignment_group":"b85d44954a3623120004689b2d5dd60a"
              }
            }

          deployment-gate: '{"environment":"github-pages","jobName":"Deploy"}'
  
          changeCreationTimeOut: 120
          abortOnChangeCreationFailure: true
          timeout: 200
          abortOnChangeStepTimeout: true
          interval: 500

      - name: Output of Change Creation
        run: |
          echo 'Outputs from create_change:'
          echo '${{ toJSON(steps.create_change.outputs) }}'
   
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    needs: ServiceNowDevOpsChange
    environment: github-pages
    steps:
      - name: Run deployment scripts
        run: echo "Completed Deployment."


